* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #4da1c4;
}

.primary-heading {
  color: #e6f2f7;
  border-bottom: 2px solid #f2df3a;
  padding-bottom: 0.2rem;
  padding-right: 4rem;
  width: max-content;
  margin: 6rem;
}

.primary-btn {
  padding: 0.3rem 1rem;
  color: #00361a;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.25s all ease;
}
.primary-btn:hover {
  color: #0c2430;
  border-color: #113649;
  background-color: #b0e1fa;
}

label {
  color: #f6f6f6;
  font-weight: bold;
}

input {
  padding: 5px;
  border: none;
  border-radius: 0.2rem;
  color: #0c2430;
}
